html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: 'Playfair Display', sans-serif;
    margin: 0;
    background-image: url('images/coffeeshop.jpg');
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    max-height: 700px;
}

.header {
    background: rgba(0, 0, 0, 0.35);
    width: 1270px;
    margin: auto;
}

.container {
    max-width: 970px;
    padding: 0 15px;
    margin: 0 auto;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
}


.navi__list {
    display: inline-block;
}


.navi__list+.navi__list {
    padding-left: 50px;
}

.navi__link {
    font-size: 20px;
    line-height: 28px;
    color: #fff;
    transition: all .3s;
}

.navi__link:hover {
    color: #f5d76e;
}

/* MAIN-TOP */

h1 {
    font-size: 48px;
    line-height: 28px;
    font-family: 'Playfair Display', sans-serif;
    margin: 0;
    padding-top: 200px;
    color: #f5d76e;
    padding-bottom: 30px;
}



.main-top__text {
    font-size: 16px;
    line-height: 28px;
    color: #fff;
    width: 50%;
    font-family: 'Lato', sans-serif;
    padding-bottom: 40px;
}

.menu-top__btn {
    border: 2px solid #fff;
    width: 180px;
    height: 54px;
    text-transform: uppercase;
    background-color: transparent;
}

.btn__menu {
    font-size: 13px;
    line-height: 24px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    padding: 20px 50px;
}

/* INFO */

.info {
    margin: 100px 0 80px;
}

.info__inner {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 250px;
}

.info__title {
    padding-bottom: 40px;
    font-size: 32px;
    line-height: 24px;
}

.info__text {
    padding-bottom: 80px;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Lato', sans-serif;
}


/* MENU */

.menu__title {
    font-size: 32px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 60px;
}

.menu__inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu__tea {
    padding: 0 39px;
}

.menu__coffee-title {
    background-image: url('images/coffee.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.menu__tea-title {
    background-image: url('images/tea.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu__desserts-title {
    background-image: url('images/desserts.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu__title-text {
    margin: 0;
    font-size: 40px;
    line-height: 24px;
}

.menu__list {
    flex-direction: column;
    justify-content: center;
    padding: 40px 70px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.menu__item span {
    float: right;
}


.menu__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0 70px;
}

.menu__full-btn {
    border: 2px solid #000;
    width: 232px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    background-color: transparent;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.info__icon-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 80px;
}

.reviews__title {
    font-size: 32px;
    line-height: 24px;
    text-align: center;
    padding-bottom: 60px;
    margin: 0;
}

.reviews__slider-inner {
    display: flex;
    width: 100%;
    justify-content: center;
}

.reviews__slider {
    background-color: #39312f;
    min-width: 460px;
    height: 425px;
    color: #fff;
}

.revievs__slider-number {
    font-size: 90px;
    line-height: 21px;
    opacity: .2;
    padding-top: 30px;
    padding-left: 30px;
    margin: 0;
}

.reviews__slider-review {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding-top: 48px;
    padding-bottom: 15px;
    max-width: 280px;
    margin: auto;
}

.reviews__slider-name {
    font-size: 20px;
    line-height: 24px;
    color: #f5d76e;
    padding-bottom: 20px;
}

.reviews__slider-text {
    font-size: 16px;
    line-height: 21px;
    font-family: 'Lato', sans-serif;
    max-width: 260px;
}

.revies__slider-mark {
    float: right;
    padding: 0 24px 24px 0;
}

.reviews__icon {
    text-align: center;
    padding: 80px 0;
}

.slick-slide img {
    display: inline-block;
}

.slick-dots {
    bottom: 61px;
}

.slick-dots li {
    margin: 0 5px;
    width: 5px;
    height: 0;
}

.slick-dots li button:before {
    font-size: 9px;
    opacity: 1;
    color: #fff;
}

.slick-dots li.slick-active button:before {
    color: #fff;
    opacity: 1;
    font-size: 13px;
}

.slick-dots li button {
    opacity: 1;
}

.location {
    padding-bottom: 15px;
}

.location__title {
    text-align: center;
    padding-bottom: 60px;
    margin: 0;
    font-size: 32px;
}

.location__inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
}

.location__address {
    min-width: 455px;
    height: 425px;
    background-color: #f5d76e;
    padding: 50px 0 50px 64px;
}

.location__top-title {
    font-size: 20px;
}

.location__address-happyhour {
    padding-top: 45px;
}

.location__address-list--work {
    max-width: 175px;
    padding-top: 28px;
}

.location__address-list {
    font-size: 16px;
    max-width: 350px;
    line-height: 28px;
}

.location__address-list--work em {
    font-weight: 700;
}

.location__address-list--work span {
    float: right;
}

#map {
    min-width: 810px;
    height: 425px;
}

.footer__wrapper {
    background-color: #39312f;
    position: absolute;
    width: 100%;
    min-height: 320px;
}

.footer__social {
    padding-top: 90px;
    display: flex;
    justify-content: center;
}

.footer__social-img+.footer__social-img {
    padding-left: 30px;
}

.footer__text {
    display: flex;
    justify-content: center;
}

.footer__info {
    padding-top: 40px 0;
    color: #fff;
    font-family: 'Lato', sans-serif;
}